@import 'variables.scss';
@import 'navbar-prototype.scss';

.fixed-navbar { padding-top: 50px; }

.headerFixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 0px 0px 2px rgba(30, 30, 30, 0.2);
}

	.navbar>.container {
		padding: 0;
	}



.navbar-white {
	@include navbar-light(white);
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
}



.nav-pills {

	& > li.active {
		& > a,
		& > a:hover,
		& > a:focus {
			background-color: transparent;
			border: solid 1px $color-muted-light;
			color: $color-text;
			cursor: default;
		}

		.invert & {
			a,
			a:hover,
			a:focus {
				color: white;
				border: solid 1px hsla(0, 0%, 90%, 0.3);
			}
		}
	}

	.invert & {
		a {
			color: white;
			&:hover,
			&:focus {
				color: white;
				background-color: hsla(0, 0%, 100%, 0.1);
			}
		}
	}
}


.form-control { border-radius: 2px; }

.input-lg,
.form-horizontal .form-group-lg .form-control {
	border-radius: 3px;
}


.inline-btn {
	margin-left: 6px;
}

.form-help-1 {
	padding-top: 100px;
}

.form-help-2 {
	padding-top: 50px;
}

legend {
	// padding-top: 50px;
	// margin-bottom: 30px;
}

fieldset {
	background: #FCFBE5;
	padding: 2em;
	border-radius: 6px;
}

.container > hr {
	margin: 30px 0;
}


hr {
	border-bottom-color: $color-hr;
	border-top-color: $color-hr;
}



.panel-default {
	border-color: hsl(0, 0%, 96%);

	.panel-footer {
		border-top: none;
	}
}
.thumbnail {
	border-color: hsl(0, 0%, 96%);
}