@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	// .container {
	// 	width: 90%;
	// }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	// .container {
	// 	width: 90%;
	// }
	
}


@media only screen and (max-width : 768px) { // col-xs
	.col-xs-bottom { margin-bottom: 40px; }

	.col-xs-left { text-align: left; }
	.col-xs-center { text-align: center; }
	.col-xs-right { text-align: right; }
}

@media only screen and (min-width : 768px) and (max-width: 991px) { // col-sm
	.col-sm-bottom { margin-bottom: 40px; }

	.col-sm-left { text-align: left; }
	.col-sm-center { text-align: center; }
	.col-sm-right { text-align: right; }
}

@media only screen and (min-width : 992px) and (max-width: 1200px) { // col-lg
	.col-md-bottom { margin-bottom: 40px; }

	.col-md-left { text-align: left; }
	.col-md-center { text-align: center; }
	.col-md-right { text-align: right; }
}


.text-center > img {
	margin-left: auto;
	margin-right: auto;
}


/* ------------- 5 columns -------------*/

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-five {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-five {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-five {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-five {
		width: 20%;
		float: left;
	}
}