@import 'variables BXt.scss';

footer {
	padding-top: 3em;
	padding-bottom: 1em;
}
	blockquote footer { padding: 0; } // это подпись цитаты, и ей не нужен такой здоровый паддинг


.scrollable { overflow: scroll; }



blockquote {
	padding-top: 0;
	padding-bottom: 0;
}



.moreTop { margin-top: 2em; }
.noTop {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.moreBottom { margin-bottom: 1.5em; }
.paddingBottom { padding-bottom: 1em; }
.noBottom { margin-bottom: 0; padding-bottom: 0; }

.lessPadding { padding-top: 20px; padding-bottom: 20px;}
.noPadding { padding-top: 0; padding-bottom: 0;}