@font-face {
	font-family: 'ALS rouble';
	src: url('../fonts/rouble/rouble-webfont.eot');
	src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rouble/rouble-webfont.woff') format('woff'),
		 url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
		 url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.rouble {
	font-family: "ALS rouble";
}