section {
	padding-top: 4.2em;
	padding-bottom: 4em;
	margin-left: auto;
	margin-right: auto;

	h1:first-child,
	.h1:first-child,
	h2:first-child,
	.h2:first-child { margin-top: 0; }
}

.section-compact {
	padding-top: 2.2em;
	padding-bottom: 2em;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
// col-sm-
	section {
		padding-top: 3.2em;
		padding-bottom: 3em;
	}
}

@media only screen and (max-width : 768px) {
// col-xs-
	section {
		padding-top: 2.2em;
		padding-bottom: 2em;
	}
}

body > hr { margin: 0; } // т. к. у section уже есть отступы, линейкам между ними отступы не нужны