/* typography (be) start */

/* - import variables (be) */
@import 'variables BXt.scss';

p {
	margin-bottom: 1em;
	max-width: 42em;
}
	.lead { max-width: 42em; }
	
	.readable {
		font-size: 1.2em;
		line-height: 1.45em;
	}

	.half { margin-bottom: .5em; }

	

h2, .h2 {
	margin-bottom: 1em;
}

h3, .h3 {
	font-size: 20px;
	max-width: 40em;
}

h4 {
	font-size: 17px;
	line-height: 1.25em;
	margin-top: 1.5em;
}

h5 {
	line-height: 1.4;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}


// это выкинуть, когда закончатся проекты — т. к. оно перенесено в design mixins / ul-ol
ul {
	padding-left: 1.35em;
}
ol {
	padding-left: 1.4em;
}

.list-multiline li {
	margin-bottom: .5em;
}

.list-midbullet {
	padding-left: 5px;

	li {
		padding-right: 0;
		padding-left: 0;
	}

	li:not(:last-child):after {
		content: " •";
		color: $color-muted;
	}
}
// выкинуть


small, .small { line-height: 1.55em; }


.thinCaps {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7em;
	letter-spacing: 0.15em;
}

.allcaps {
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

small.allcaps,
.small.allcaps { font-size: 0.7em }



.text-black { color: $color-text-dark; }

.text-thin { font-weight: 100 !important; }


.rule-above {
	border-top: solid 1px $color-hr;
	padding-top: 1em;
	margin-top: 1.3em;
}

.rule-below {
	border-bottom: solid 1px $color-hr;
	padding-bottom: 0.6em;
	margin-bottom: 1em;
}



hr {
	border-bottom-color: $color-hr;
	border-top-color: $color-hr;
}

.hr-white {
	border-top-color: white;
	border-bottom-color: white;
}


code {
	color: inherit;
	background-color: hsl(39, 32%, 95%);
	font-size: .85em;
}


/* typography (be) end */
