/*-------------- Colors -------------*/

$color-text: hsl(0, 0%, 30%);
$color-text-dark: #333333;
$color-muted: lighten( $color-text, 40% );
$color-muted-light: lighten( $color-muted, 20% );

$color-link: hsl(208, 49%, 38%);
$color-link-hover: $color-link;

$color-invert: rgba(255, 255, 255, 0.8);
$color-link-invert: #80A9C2;

$color-brand: #FFD600;
$color-alt: olive;
$color-red: hsl(0, 70%, 45%);
$color-success: #449D44;

$color-hr: hsl(0, 0%, 95%);

$bg-site: #3D3F46;
$bg-paper: #FAFAF7;
$bg-dark: hsl(231, 22%, 17%);

$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;

$container-width-lg: 1170px;
$container-width-md: 970px;
$container-width-sm: 750px;

$container-padding: 15px;
$section-padding: 4em;