@import 'social-buttons';


// рисовательные функции


@mixin btn-transitions {
	transition-property: all;
	transition-timing-function: linear;
	transition-duration: 0.1s;

	&:hover,
	&:focus { transition-duration: 0.1s; }
}


@mixin bgGradient-and-hover($color, $intensity: 5%)
{
	background-image: linear-gradient($color, darken($color, $intensity) );
	
	&:hover {
		background-image: linear-gradient(lighten($color, $intensity - 2%), $color );
	}
}






// генераторы кнопок


@mixin btn-flat($bg-color: green, $color: white, $border-radius: 4px) {

	background-color: $bg-color;
	color: $color !important;

	text-shadow: 0 -1px 0 darken($bg-color, 6%);
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

	border: none;
	border-radius: $border-radius;

	@include btn-transitions;

	.glyphicon,
	.fa,
	.icomoon { color: $color; }

	&:hover,
	&:focus {
		background-color: darken($bg-color, 5%);
		color: $color;
	}
}





@mixin btn-piano($bg-color, $text-color: white)
{
	background-color: $bg-color;
	background-image: linear-gradient( $bg-color, darken( $bg-color, 5%) );

	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 0 darken($bg-color, 20%);

	color: $text-color;
	text-shadow: 0 -1px 0 darken($bg-color, 8%);

	&:hover,
	&:focus {
		background-color: darken($bg-color, 3%);
		background-image: linear-gradient( $bg-color, darken( $bg-color, 7%) );
	}
}




@mixin btn-gradient($bg-color, $intensity: 5%) {
	// intensity range: 0% -- 12%

	@include btn-flat($bg-color);

	$color-up: saturate( $bg-color, $intensity * 2);
	$color-down: darken( $bg-color, $intensity);
	background-image: linear-gradient( $color-up, $color-down );

	&:hover,
	&:focus {
		background-image: linear-gradient( $bg-color, darken($bg-color, 5%) );
	}
}




@mixin btn-silver-temp {
	color: hsl(0, 0%, 20%) !important;
	text-shadow: 0 1px 1px hsl(0, 100%, 100%);

	background-color: hsl(0, 0%, 96%);
	background-image: linear-gradient(top, white, hsl(0, 0%, 90%) );
	background-repeat: repeat-x;

	border-color: hsl(0, 0%, 90%) hsl(0, 0%, 90%) hsl(0, 0%, 70%);

	&:hover,
	&:focus {
		background-image: linear-gradient( white, hsl(0, 0%, 85%) );
	}
}

@mixin btn-silver {
	color: hsl(0, 0%, 20%) !important;
	text-shadow: 0 1px 1px hsl(0, 100%, 100%);

	background-color: hsl(0, 0%, 96%);
	background-image: linear-gradient(top, white, hsl(0, 0%, 90%) );
	background-repeat: repeat-x;

	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.08);

	border-color: hsl(0, 0%, 95%) hsl(0, 0%, 92%) hsl(0, 0%, 80%);

	&:hover,
	&:focus {
		background-image: linear-gradient( white, hsl(0, 0%, 85%) );
		border-color: hsl(0, 0%, 95%) hsl(0, 0%, 92%) hsl(0, 0%, 80%);
	}
}





@mixin btn-outline($border-color, $fill-color: none)
{
	background: $fill-color;
	border: solid 1px $border-color;
	-webkit-font-smoothing: antialiased;
	color: #3D3F46;

	.glyphicon,
	.fa,
	.icomoon { color: $border-color; }

	&:hover,
	&:focus {
		border-color: $border-color;
		background-image: linear-gradient( saturate( $color-brand, 20%), $color-brand );
		color: white;
		text-shadow: 0 -1px 0 darken($color-brand, 8%);

		.glyphicon,
		.fa,
		.icomoon { color: white; }
	}
}





@mixin btn-outline-invert($border-color)
{
	background-image: none;
	background-color: rgba(255, 255, 255, 0.03);
	border-color: $border-color;
	color: white;

	.glyphicon,
	.fa,
	.icomoon { color: white; }

	&:hover,
	&:focus {
		background-color: rgba(255, 255, 255, 0.07);
		text-shadow: none;
		border-color: lighten($border-color, 10%);
		color: white;
	}
}





	@mixin btn-transparent-hover( $hover-color: $color-brand ) {
	// общее поведение :hover для 2-х кнопок ниже
		&:hover,
		&:focus {
			color: white;
			text-shadow: 0 -1px 0 darken($color-brand, 8%);
			@include bgGradient-and-hover( $hover-color );

			.glyphicon,
			.fa,
			.icomoon { color: white; }
		}
	}

// а может сделать из них одно кнопку с серым фоном?
@mixin btn-transparent-lighten( $hover-color: $color-brand, $intensity: 0.1 )
{
	@include btn-flat( hsla(0, 0%, 100%, $intensity) );
	@include btn-transparent-hover( $hover-color );
}

@mixin btn-transparent-darken( $hover-color: $color-brand, $intensity: 0.2 )
{
	@include btn-flat( hsla(0, 0%, 0%, $intensity) );
	@include btn-transparent-hover( $hover-color );
}



// Кажется, вместо этого я написал просто скругление как дополнительный класс
// @mixin btn-pillow( $bg-color )
// {
// 	@include btn-flat( $bg-color, 20px );
// }


