/* panel old (be) start */

/* - import variables be */
@import 'variables BXt.scss';



section.interlay { background: hsl(10, 20%, 80%); }



@mixin isPanel {
	padding-top: 3em;
	padding-bottom: 2.5em;
	background-color: white;
}

$panel-protrude: 40px;
$panel-padding: 40px;


@media (min-width: 992px) {
	
	.panel-method-3 {
		@include isPanel;
		width: $container-width-md - ($container-padding * 2) + $panel-protrude;

		.container {
			width: $container-width-md - ($panel-padding * 2) + $panel-protrude;
		}
	}

	.panel-method-4 {
		@include isPanel;
		padding-left: $panel-padding;
		padding-right: $panel-padding;
	}

}



// ontainers 1, 3, 4
@media (min-width: 1200px) {
	
	$min-browser-width: $container-width-lg;

	.panel-method-1 {
		@include isPanel;
		margin-top: $section-padding;
		margin-bottom: $section-padding;
		width: $container-width-lg - ($container-padding * 2);

		.container {
			width: $container-width-lg - ($panel-padding * 2);
		}
	}

	.panel-method-3 {
		@include isPanel;
		margin-top: $section-padding;
		margin-bottom: $section-padding;
		width: $container-width-lg - ($container-padding * 2) + $panel-protrude;

		.container {
			width: $container-width-lg - ($panel-padding * 2) + $panel-protrude;
		}
	}

	.panel-method-4 {
	
		@include isPanel;
		padding-left: $panel-padding;
		padding-right: $panel-padding;
	}

}

// ontainer 2
@media (min-width: 992px) {
	.panel-method-2 {
		@include isPanel;
		width: $container-width-md - ($container-padding * 2) + ($panel-protrude * 2);

		.container { width: $container-width-md; }
	}

}
@media (min-width: 1240px) {

	.panel-method-2 {
		@include isPanel;
		width: $container-width-lg - ($container-padding * 2) + ($panel-protrude * 2);

		.container { width: $container-width-lg; }
	}

}



// @media (min-width: 768px)	{ .panel-block {  } }
// @media (min-width: 992px)	{ .panel-block { max-width: 990px; } }


/* panel old (be) end */